<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>918488202041-bt2j0scht44dct8399dq0hhfq6aduo2n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.918488202041-bt2j0scht44dct8399dq0hhfq6aduo2n</string>
	<key>API_KEY</key>
	<string>AIzaSyBWTDeA2LRsZmitdN9GPSdYXiTpDltZNS8</string>
	<key>GCM_SENDER_ID</key>
	<string>918488202041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stefandojcinovic.Jewllery-Store-Application</string>
	<key>PROJECT_ID</key>
	<string>jewllery-store-app</string>
	<key>STORAGE_BUCKET</key>
	<string>jewllery-store-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918488202041:ios:a36b79b11d8d05a1a846e8</string>
</dict>
</plist>